html {
  line-height: 1.15;
  /* 1 */
}

body {
  line-height: 17px;
  margin: 0;
  padding: 0 16px;
  font-family: sans-serif;
  font-size: medium;
  background-color: #000;
  background-repeat: repeat-x, repeat;
  background-position: top left, top left;
  color: white;
}
  
.content {
  margin: 0px;
  padding: 0px;
  ;
}
  
#deux-button {
  padding-bottom: 5px;
  text-align: center;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

}

aside {
  margin-top: 55px;

}

h1 {
  font-family: 'Amatic SC', cursive;
  color: #b8860b;
  font-size: 3.2em;
  text-align: center;
  padding: 0;
}

footer {
  text-align: left;
  color: #FFF;
  padding-bottom: 8px;
  font-size: 90%;
}

.current-csp {
  white-space: pre;
  font-family: monospace;
  padding: 0.5em 8px;
  background-color: #334;
  margin-top: 0.3em;
}

h1,
p,
section {
  word-wrap: break-word;
}

p {
  color: #3ba0e6
}

h2 {
  color: #b8860b
}

table,
tr,
th,
td {
  color: #eee;
  border: 1px solid #999;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
}

.btn-toggle {
  background-color: #404e40;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#films {
  min-width: 800px;
  border-collapse: collapse;
}

#films th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1f251f;
  color: white;
}

a:link,
a:visited {
  color: #b8860b;
}
a:hover,
a:active {
  color: blue;
}

#langIcon {
  width: 100px;
  display: block;
  height: 20px;
  background: black;
  color: white;
  text-decoration: none;
}

.search-container input {
  height: 2.3em;
}

/* jQuery Mobile crap */
.ui-textinput {
  display: inline-block;
}
.ui-textinput-clear-button {
  display: none;
}